extends layout
block content
  h1= title
  - let motels = results;
  div(class="container-fluid mt-3")
  div(class="row")
    each motel,index in motels
      - let destination = `dispatch(\"/motels/update?id=${motel._id}\")` 
        div(class="col-sm-4"  onclick=`buy(${index})`)  #{motel.motelRatings} -  #{motel.motelCost} - #{motel.motelFacility} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
    script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      } 
      function dispatch(path)
      { 
        window.location.href=path 
      }