extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let motelssid = toShow._id 
    - let motelRatings = toShow.motelRatings 
    - let motelCost = toShow.motelCost 
    - let motelFacility = toShow.motelFacility 
    - let actionid = "/resource/motelss/" + motelssid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='motelssAttr mr-3') motelss ID is: 
        div #{motelssid} 
      div.row 
        div(class='motelssAttr mr-3') motelss motelRatings is: 
        div #{motelRatings} 
      div.row 
        div(class='motelssAttr mr-3') motelss motelFacility is: 
        div #{motelFacility} 
      div.row 
        div(class='motelssAttr mr-3') motelss motelCost is: 
        div #{motelCost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the motelss collection 
      window.location.href='/motelss' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/motelss' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 